absl-py==2.3.0
accelerate==1.8.1
ackermann-msgs==2.0.2
action-msgs==1.2.1
action-tutorials-interfaces==0.20.5
action-tutorials-py==0.20.5
actionlib-msgs==4.2.4
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.4.0
altair==5.5.0
ament-cmake-test==1.3.11
ament-copyright==0.12.11
ament-cppcheck==0.12.11
ament-cpplint==0.12.11
ament-flake8==0.12.11
ament-index-python==1.4.0
ament-lint==0.12.11
ament-lint-cmake==0.12.11
ament-package==0.14.0
ament-pep257==0.12.11
ament-uncrustify==0.12.11
ament-xmllint==0.12.11
angles==1.15.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.9.0
async-timeout==5.0.1
attrs==25.3.0
backoff==2.2.1
bcrypt==4.3.0
bond==3.0.2
boto3==1.39.0
botocore==1.39.0
build==1.2.2.post1
builtin-interfaces==1.2.1
cachetools==5.5.2
cartographer-ros-msgs==2.0.9002
causal-conv1d @ file:///home/linhai/%E4%B8%8B%E8%BD%BD/causal_conv1d-1.5.2%2Bcu12torch2.5cxx11abiFALSE-cp310-cp310-linux_x86_64.whl#sha256=a968fa2136b8d8fc51fb073ace5f0ce24e4fa3762faccc2203b5a985a2fb9344
certifi==2025.6.15
cfgv==3.4.0
charset-normalizer==3.4.2
chromadb==1.0.13
click==8.2.1
cloudpickle==3.1.1
coloredlogs==15.0.1
composition-interfaces==1.2.1
contourpy==1.3.2
custom-message==0.0.0
cv-bridge==3.2.1
cycler==0.12.1
decorator==5.2.1
demo-nodes-py==0.20.5
diagnostic-msgs==4.2.4
diagnostic-updater==4.0.0
diffusers==0.11.1
diskcache==5.6.3
distlib==0.3.9
distro==1.9.0
docker-pycreds==0.4.0
domain-coordinator==0.10.0
durationpy==0.10
dwb-msgs==1.1.17
egl_probe==1.0.2
einops==0.8.1
example-interfaces==0.9.3
examples-rclpy-executors==0.15.3
examples-rclpy-minimal-action-client==0.15.3
examples-rclpy-minimal-action-server==0.15.3
examples-rclpy-minimal-client==0.15.3
examples-rclpy-minimal-publisher==0.15.3
examples-rclpy-minimal-service==0.15.3
examples-rclpy-minimal-subscriber==0.15.3
exceptiongroup==1.3.0
Farama-Notifications==0.0.4
fastapi==0.115.14
-e git+https://github.com/CASIA-IVA-Lab/FastSAM.git@b4ed20c2fed75eadc5aa7d8b09fedd137b873b52#egg=fastsam
ffmpy==0.6.0
filelock==3.18.0
flatbuffers==25.2.10
fonttools==4.58.4
frozenlist==1.7.0
fsspec==2025.7.0
ftfy==6.3.1
geometry-msgs==4.2.4
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.40.3
googleapis-common-protos==1.70.0
gradio==3.35.2
gradio_client==1.10.4
grpcio==1.73.1
gym==0.23.1
gym-notices==0.0.8
gymnasium==1.1.1
h11==0.16.0
h5py==3.14.0
hf-xet==1.1.5
hidapi==0.14.0.post2
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
hub-sdk==0.0.20
huggingface-hub==0.34.3
humanfriendly==10.0
hydra-core==1.3.2
identify==2.6.12
idna==3.10
image-geometry==3.2.1
imageio==2.37.0
imageio-ffmpeg==0.6.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
interactive-markers==2.3.2
isaac-ros-navigation-goal==0.0.1
isaac-ros2-messages==0.2.0
-e git+ssh://git@github.com/FrostyForest/IsaacLab.git@cf8020c998f79132faee504f9578230a99ec0fd3#egg=isaaclab&subdirectory=source/isaaclab
-e git+ssh://git@github.com/FrostyForest/IsaacLab.git@cf8020c998f79132faee504f9578230a99ec0fd3#egg=isaaclab_assets&subdirectory=source/isaaclab_assets
-e git+ssh://git@github.com/FrostyForest/IsaacLab.git@cf8020c998f79132faee504f9578230a99ec0fd3#egg=isaaclab_mimic&subdirectory=source/isaaclab_mimic
-e git+ssh://git@github.com/FrostyForest/IsaacLab.git@cf8020c998f79132faee504f9578230a99ec0fd3#egg=isaaclab_rl&subdirectory=source/isaaclab_rl
-e git+ssh://git@github.com/FrostyForest/IsaacLab.git@cf8020c998f79132faee504f9578230a99ec0fd3#egg=isaaclab_tasks&subdirectory=source/isaaclab_tasks
isaacsim==4.5.0.0
isaacsim-app==4.5.0.0
isaacsim-asset==4.5.0.0
isaacsim-benchmark==4.5.0.0
isaacsim-code-editor==4.5.0.0
isaacsim-core==4.5.0.0
isaacsim-cortex==4.5.0.0
isaacsim-example==4.5.0.0
isaacsim-extscache-kit==4.5.0.0
isaacsim-extscache-kit-sdk==4.5.0.0
isaacsim-extscache-physics==4.5.0.0
isaacsim-gui==4.5.0.0
isaacsim-kernel==4.5.0.0
isaacsim-replicator==4.5.0.0
isaacsim-rl==4.5.0.0
isaacsim-robot==4.5.0.0
isaacsim-robot-motion==4.5.0.0
isaacsim-robot-setup==4.5.0.0
isaacsim-ros1==4.5.0.0
isaacsim-ros2==4.5.0.0
isaacsim-sensor==4.5.0.0
isaacsim-storage==4.5.0.0
isaacsim-template==4.5.0.0
isaacsim-test==4.5.0.0
isaacsim-utils==4.5.0.0
Jinja2==3.1.6
jmespath==1.0.1
joint-state-publisher==2.4.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.8
kubernetes==33.1.0
laser-geometry==2.4.0
launch==1.0.7
launch-ros==0.19.8
launch-testing==1.0.7
launch-testing-ros==0.19.8
launch-xml==1.0.7
launch-yaml==1.0.7
lazy_loader==0.4
lifecycle-msgs==1.2.1
linkify-it-py==2.0.3
logging-demo==0.20.5
mamba-ssm @ file:///home/linhai/code/mamba
map-msgs==2.1.0
Markdown==3.8.2
markdown-it-py==2.2.0
MarkupSafe==3.0.2
matplotlib==3.10.3
mdit-py-plugins==0.3.3
mdurl==0.1.2
message-filters==4.3.5
mmh3==5.1.0
moviepy==2.2.1
mpmath==1.3.0
multidict==6.6.3
muon-optimizer @ git+https://github.com/KellerJordan/Muon@b7070414ea8f506c16dd76925f961d22719f6b03
my-interfaces==0.0.0
# Editable install with no version control (my-isaacsim-subscriber==0.0.0)
-e /home/linhai/app/isaacsim/isaac-sim-standalone@4.5.0-rc.36+release.19112.f59b3005.gl.linux-x86_64.release/my_codes/ros2_subscriber/build/my_isaacsim_subscriber
narwhals==1.45.0
nav-2d-msgs==1.1.17
nav-msgs==4.2.4
nav2-common==1.1.17
nav2-msgs==1.1.17
nav2-simple-commander==1.0.0
networkx==3.4.2
ninja==1.11.1.4
nodeenv==1.9.1
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.1.105
oauthlib==3.3.1
omegaconf==2.3.0
omniverse-kit==106.5.0.162521
onnx==1.16.1
onnxruntime==1.22.0
-e git+https://github.com/tulip-berkeley/open_clip.git@da68bac57c765f92f35bafc9f4d347c507f569d0#egg=open_clip_torch
opencv-python==4.11.0.86
opentelemetry-api==1.34.1
opentelemetry-exporter-otlp-proto-common==1.34.1
opentelemetry-exporter-otlp-proto-grpc==1.34.1
opentelemetry-proto==1.34.1
opentelemetry-sdk==1.34.1
opentelemetry-semantic-conventions==0.55b1
orjson==3.10.18
osqp==0.6.7.post3
osrf-pycommon==2.1.4
overrides==7.7.0
packaging==25.0
pandas==2.3.0
pathtools==0.1.2
pcl-msgs==1.0.0
pendulum-msgs==0.20.5
pillow==11.0.0
platformdirs==4.3.8
posthog==6.0.1
pre_commit==4.2.0
prettytable==3.3.0
proglog==0.1.12
promise==2.3
propcache==0.3.2
protobuf==3.20.3
psutil==5.9.8
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase64==1.4.1
pycocotools==2.0.10
pydantic==2.11.7
pydantic_core==2.33.2
pydub==0.25.1
pygame==2.1.0
pyglet==1.5.31
Pygments==2.19.2
pyparsing==3.2.3
pyperclip==1.9.0
PyPika==0.48.9
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-multipart==0.0.20
python-qt-binding==1.1.2
pytorch-labs-segment-anything-fast @ git+https://github.com/pytorch-labs/segment-anything-fast.git@e6aadeb86f3ae1f58c3f98e2a91e251716e0f2aa
pytz==2025.2
PyYAML==6.0.2
qdldl==0.1.7.post5
qt-dotgraph==2.2.3
qt-gui==2.2.3
qt-gui-cpp==2.2.3
qt-gui-py-common==2.2.3
quality-of-service-demo-py==0.20.5
rcl-interfaces==1.2.1
rclpy==3.3.15
rcutils==5.1.6
referencing==0.36.2
regex==2024.11.6
requests==2.32.4
requests-oauthlib==2.0.0
resource-retriever==3.1.2
rich==14.0.0
rl_games==1.6.1
rmw-dds-common==1.6.0
robomimic @ git+https://github.com/ARISE-Initiative/robomimic.git@ae5799f0fae05c4559ee1f9645b0f77eb5251929
ros2action==0.18.11
ros2bag==0.15.14
ros2cli==0.18.11
ros2component==0.18.11
ros2doctor==0.18.11
ros2interface==0.18.11
ros2launch==0.19.8
ros2lifecycle==0.18.11
ros2multicast==0.18.11
ros2node==0.18.11
ros2param==0.18.11
ros2pkg==0.18.11
ros2run==0.18.11
ros2service==0.18.11
ros2topic==0.18.11
rosbag2-interfaces==0.15.13
rosbag2-py==0.15.14
rosgraph-msgs==1.2.1
rosidl-adapter==3.1.6
rosidl-cli==3.1.6
rosidl-cmake==3.1.6
rosidl-generator-c==3.1.6
rosidl-generator-cpp==3.1.6
rosidl-generator-py==0.14.4
rosidl-parser==3.1.6
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.2
rosidl-typesupport-fastrtps-cpp==2.2.2
rosidl-typesupport-introspection-c==3.1.6
rosidl-typesupport-introspection-cpp==3.1.6
rpds-py==0.26.0
rpyutils==0.2.1
rqt-action==2.0.1
rqt-bag==1.1.5
rqt-bag-plugins==1.1.5
rqt-console==2.0.3
rqt-graph==1.3.1
rqt-gui==1.1.7
rqt-gui-py==1.1.7
rqt-msg==1.2.0
rqt-plot==1.1.2
rqt-publisher==1.5.0
rqt-py-common==1.1.7
rqt-py-console==1.0.2
rqt-reconfigure==1.1.2
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.0
rsa==4.9.1
rsl-rl-lib==2.3.3
s3transfer==0.13.0
safetensors==0.5.3
scikit-image==0.25.2
scipy==1.15.3
seaborn==0.13.2
segment_anything @ git+https://github.com/facebookresearch/segment-anything.git@dca509fe793f601edb92606367a655c15ac00fdf
semantic-version==2.10.0
sensor-msgs==4.2.4
sensor-msgs-py==4.2.4
sentry-sdk==2.32.0
setproctitle==1.3.6
shape-msgs==4.2.4
shellingham==1.5.4
shortuuid==1.0.13
six==1.17.0
skrl==1.4.3
smclib==3.0.2
smmap==5.0.2
sniffio==1.3.1
sros2==0.10.5
stable_baselines3==2.6.0
starlette==0.46.2
statistics-msgs==1.2.1
std-msgs==4.2.4
std-srvs==4.2.4
stereo-msgs==4.2.4
sympy==1.13.1
teleop-twist-keyboard==2.4.0
tenacity==9.1.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.4
termcolor==3.1.0
tf2-geometry-msgs==0.25.9
tf2-kdl==0.25.9
tf2-msgs==0.25.9
tf2-py==0.25.9
tf2-ros-py==0.25.9
tf2-tools==0.25.9
thop==0.1.1.post2209072238
tifffile==2025.5.10
timm==1.0.16
tokenizers==0.21.4
toml==0.10.2
tomli==2.2.1
topic-monitor==0.20.5
topic-tools==1.1.1
topic-tools-interfaces==1.1.1
torch==2.5.1+cu121
torchao==0.11.0
torchvision==0.20.1+cu121
tqdm==4.67.1
trajectory-msgs==4.2.4
transformers==4.54.1
trimesh==4.6.13
triton==3.1.0
turtlebot3-example==2.1.5
turtlebot3-msgs==2.2.3
turtlebot3-teleop==2.1.5
turtlesim==1.4.2
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
uc-micro-py==1.0.3
ultralytics==8.0.120
ultralytics-thop==2.0.14
unique-identifier-msgs==2.2.1
urllib3==2.5.0
uvicorn==0.35.0
uvloop==0.21.0
virtualenv==20.31.2
vision-msgs==4.1.1
visualization-msgs==4.2.4
wandb==0.12.21
warp-lang==1.8.0
watchfiles==1.1.0
wcwidth==0.2.13
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
xacro==2.0.8
yarl==1.20.1
zipp==3.23.0
